.jumbotron {
  background: #222;
  color: white;
  border-bottom: 1px solid #ddd;
}
.jumbotron h1 { font-size: 300%; margin-top: 0; }
.jumbotron p { font-size: 155%; font-weight: 150}

.preview {
  width: 100%; 
  height: 400px;
  text-align: center; 
  font-size: 300px;
  overflow: hidden;
  text-align: center;
}

h1 span {
  border: 1px solid #ddd;
  color: black;
  background: white;
  display: inline-block;
  overflow: hidden;
  padding: .25em;
}

hr {
  margin: 10px 0;
}

.list-group-item {
  word-wrap: break-word;
}

textarea.form-control {
  margin-bottom: 12px;
}

/* xs */
@media (max-width: 767px) {
  .jumbotron {
    font-size: 50%;
    padding: 20px;
  }
  textarea.form-control {
    height: 200px;
  }
}
/* s */
@media (min-width: 768px) and (max-width: 991px) {
  .jumbotron {
    font-size: 60%;
    padding: 30px;
  }
  textarea.form-control {
    height: 250px;
  }
}
/* md */
@media (min-width: 992px) and (max-width: 1199px) {
  .jumbotron {
    font-size: 80%;
    padding: 20px 30px;
  }
  textarea.form-control {
    height: 300px;
  }
}
/* lg */
@media (min-width: 1200px) {
  .jumbotron {
    font-size: 90%;
    padding: 20px 40px 10px;
  }
  textarea.form-control {
    height: 380px;
  }
}